.simple-counter {
    font-family: Roboto;
    font-weight: bold;
    background: lightgray;
    color: #1d1d2f;
    border: 1px solid #141822;
    box-shadow: 2px 2px 2px #ccc;
    text-align: center;
    border-radius: 15px;
}

.simple-counter-result {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.button-count {
    color: lavender;
    background: olive;
    border: 1px solid lavender;
    padding: 5px;
    border-radius: 5px;
}