.simple-counter {
    background: lavender;
    color: darkblue;
    border: 1px solid darkblue;
    box-shadow: 2px 2px 2px #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    horiz-align: center;
}